/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

  
.model1_container {
    display: flex; /* or inline-flex */
    justify-content: center;
    flex-wrap: wrap; /* idk might change with more cards*/
  }

.model1_body{
    text-align: center;
}

.model1_card{
   background: aliceblue;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}
.model1_card p{
    padding: 10px;
}

.model1_card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}

/* hover rules*/
.model1_card:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    /* make it larger when hovered*/
    transform: scale(1.03);
    /* 1 second to apply all rules*/
    transition: all 1s ease;
}

.card-img{
    background-color: aqua;
    height: 180px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.links-wrapper p {
    margin-left: 10px;
}
/* Add this to your CSS file */
.highlight {
    background-color: yellow;
  }
  


/* .instance-1{
    background-image:  url(../Models/model_images/placeholder.png); 
}

.instance-2{
    background-image:  url(../Models/model_images/placeholder.png); 
}

.instance-3{
    background-image:  url(../Models/model_images/placeholder.png); 
} */

