.splash {
    width: 100vw; 
    height: 92vh; 
    position: absolute; 
    left: 0;  
    background-image: url('./images/background.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden; 
    border: 0; 
}

.cards_format {
    display: flex; 
    justify-content: center;
}